{% load i18n %}
<ul multiple data-parameter-name="{{ spec.parameter_name }}" data-placeholder="{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}">
    {% for choice in choices %}
        <li{% if choice.selected %} class="selected" {% endif %} data-value='{{ choice.value }}'>
            <a href="#" title="{{ choice.display }}">{{ choice.display }}</a>
        </li>
    {% endfor %}
</ul>